{% extends "base.html" %}
{% load blog_extras cache %}

{% block content %}
<h2>{{ post.title }}</h2>
{% row %}
  {% col %}
    {% include "blog/post_byline.html" %}
  {% endcol %}
{% endrow %}

{% row %}
  {% col %}
    {{ post.content | safe }}
  {% endcol %}
{% endrow %}

{% if post.author.profile %}
  {% row %}
    {% col %}
      <h4>About the author</h4>
      <p>{{ post.author.profile.bio }}</p>
    {% endcol %}
  {% endrow %}
{% endif %}


{% include "blog/post_comments.html" %}

{% cache 3600 recent_posts post %}
{% row %}
  {% col %}
    {% recent_post post %}
  {% endcol %}
{% endrow %}
{% endcache %}
{% endblock content %}
